.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    border-left: 4px solid #000000;
    padding-left: 10px;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
    margin: 80px 0px;
    border-radius: 4px;
}

.detail-table th,
.detail-table td {
    border-bottom: 1px solid #ddd;
    padding: 20px 50px;
    text-align: left;
    font-size: 16px;
}

.detail-table th {
    background-color: #fff;
    font-weight: bold;
    width: 30%;
    color: #737373;
}

.detail-table td {
    background-color: #fff;
}

.detail-table__day {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 10px;
}

.detail-table__input {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    height: 40px;
    width: 75%;
}

.detail-table__input input {
    width: 20%;
    height: 30px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;

}

textarea {
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    resize: none;
}

.btn-container {
    text-align: right;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

.alert-danger li {
    color: red;
    text-decoration: none;
    list-style: none;

}